@font-face {
  font-family: "Pretendard";
  src: url("../node_modules/pretendard/dist/web/static/woff2/Pretendard-Regular.woff2") format("woff2"),
       url("../node_modules/pretendard/dist/web/static/woff/Pretendard-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Pretendard", sans-serif;
}

#root {
  height: calc(var(--vh, 1vh) * 100);
}

.perspective {
  perspective: 1000px;
}

.rotate-y-0 {
  transform: rotateY(0);
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
